html {
    font-size: 18px;
    font-family: "Comic sans MS";
}

body {
    background: linear-gradient(to bottom, rgb(255, 241, 40), rgb(31, 198, 198), rgb(255, 119, 0));
}

h1 {
    font-size: 145px;
    text-align: center;
    background: linear-gradient(to top, rgb(0, 115, 255), rgb(255, 45, 45));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


form {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border: none;
}

input:focus {
    outline: none;
}

label {
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 4px;
}

input::placeholder {
    color: rgb(54, 54, 54);
}

input[type=text],
input[type=password] {
    font-family: "Comic sans MS";
    width: 70%;
    padding: 15px;
    font-size: x-large;
    border-radius: 10px;
    box-sizing: border-box;
    /*box-shadow: 0 3px 1px rgb(25, 144, 35);*/
    margin-bottom: 10px;
    text-align: center;
    background-color: transparent;
    color: black;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 119, 0), rgb(255, 241, 40), rgb(255, 119, 0)) 1;
}

span {
    color: rgb(255, 55, 55);
}

#username {
    position: relative;
    left: 0px;
}

#password {
    position: relative;
    left: 100px;
}

#confpassword {
    position: relative;
    left: 200px;
    font-size: 20px;
    font-weight: 7px;
}

#password-error {
    position: relative;
    left: 100px;
}

#confpassword-error {
    position: relative;
    left: 200px;
}

#avatar {
    display: block;
    margin: 0 auto;
}

button {
    padding: 25px;
    background-color: #4db250;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-family: "Comic sans MS";
    display: block;
    margin: 0 auto;
  }

  #main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: auto;
  opacity: 0.9;
}
  